/* Reset CSS Mínimo */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  line-height: inherit;
}

/* Variables CSS Compartidas */
:root {
  --hg-typo-font-family-primary: arial, sans-serif;
  --hg-typo-font-family-secondary: "ms-serif", serif;
  --hg-typo-line-height-1-976: 1.976;
  --hg-typo-line-height-1-2: 1.2;
  --hg-typo-line-height-1-4: 1.4;
  --hg-typo-line-height-1-5: 1.5;
  --hg-typo-line-height-1-1: 1.1;
  --hg-typo-line-height-1: 1;
  --hg-typo-font-weight-900: 900;
  --hg-typo-font-weight-700: 700;
  --hg-typo-font-weight-400: 400;
  --hg-typo-font-weight-100: 100;
  --hg-typo-letter-spacing-0: 0rem;
  --hg-typo-text-transform-none: none;
  --hg-typo-text-transform-uppercase: uppercase;
  --hg-typo-font-size-18: 1.125rem;
  --hg-typo-font-size-24: 1.5rem;
  --hg-typo-font-size-14: 0.875rem;
  --hg-typo-font-size-12: 0.75rem;
  --hg-typo-font-size-16: 1rem;
  --hg-typo-font-size-20: 1.25rem;
  --hg-typo-font-size-13: 0.8125rem;
  --hg-typo-font-size-10: 0.625rem;
  --hg-typo-font-size-8: 0.5rem;
  --hg-spacing-4: 0.25rem;
  --hg-spacing-8: 0.5rem;
  --hg-spacing-12: 0.75rem;
  --hg-spacing-16: 1rem;
  --hg-spacing-20: 1.25rem;
  --hg-spacing-24: 1.5rem;
  --hg-spacing-32: 2rem;
  --hg-spacing-36: 2.25rem;
  --hg-spacing-40: 2.5rem;
  --hg-spacing-64: 4rem;
}

/* Helpers de Spacing (Padding y Margin) - Mobile */
  .p-4 { padding: var(--hg-spacing-4); }
  .pr-4 { padding-inline-end: var(--hg-spacing-4); }
  .pl-4 { padding-inline-start: var(--hg-spacing-4); }
  .pb-4 { padding-bottom: var(--hg-spacing-4); }
  .pt-4 { padding-top: var(--hg-spacing-4); }
  .m-4 { margin: var(--hg-spacing-4); }
  .mr-4 { margin-inline-end: var(--hg-spacing-4); }
  .ml-4 { margin-inline-start: var(--hg-spacing-4); }
  .mb-4 { margin-bottom: var(--hg-spacing-4); }
  .mt-4 { margin-top: var(--hg-spacing-4); }
  .p-8 { padding: var(--hg-spacing-8); }
  .pr-8 { padding-inline-end: var(--hg-spacing-8); }
  .pl-8 { padding-inline-start: var(--hg-spacing-8); }
  .pb-8 { padding-bottom: var(--hg-spacing-8); }
  .pt-8 { padding-top: var(--hg-spacing-8); }
  .m-8 { margin: var(--hg-spacing-8); }
  .mr-8 { margin-inline-end: var(--hg-spacing-8); }
  .ml-8 { margin-inline-start: var(--hg-spacing-8); }
  .mb-8 { margin-bottom: var(--hg-spacing-8); }
  .mt-8 { margin-top: var(--hg-spacing-8); }
  .p-12 { padding: var(--hg-spacing-12); }
  .pr-12 { padding-inline-end: var(--hg-spacing-12); }
  .pl-12 { padding-inline-start: var(--hg-spacing-12); }
  .pb-12 { padding-bottom: var(--hg-spacing-12); }
  .pt-12 { padding-top: var(--hg-spacing-12); }
  .m-12 { margin: var(--hg-spacing-12); }
  .mr-12 { margin-inline-end: var(--hg-spacing-12); }
  .ml-12 { margin-inline-start: var(--hg-spacing-12); }
  .mb-12 { margin-bottom: var(--hg-spacing-12); }
  .mt-12 { margin-top: var(--hg-spacing-12); }
  .p-16 { padding: var(--hg-spacing-16); }
  .pr-16 { padding-inline-end: var(--hg-spacing-16); }
  .pl-16 { padding-inline-start: var(--hg-spacing-16); }
  .pb-16 { padding-bottom: var(--hg-spacing-16); }
  .pt-16 { padding-top: var(--hg-spacing-16); }
  .m-16 { margin: var(--hg-spacing-16); }
  .mr-16 { margin-inline-end: var(--hg-spacing-16); }
  .ml-16 { margin-inline-start: var(--hg-spacing-16); }
  .mb-16 { margin-bottom: var(--hg-spacing-16); }
  .mt-16 { margin-top: var(--hg-spacing-16); }
  .p-20 { padding: var(--hg-spacing-20); }
  .pr-20 { padding-inline-end: var(--hg-spacing-20); }
  .pl-20 { padding-inline-start: var(--hg-spacing-20); }
  .pb-20 { padding-bottom: var(--hg-spacing-20); }
  .pt-20 { padding-top: var(--hg-spacing-20); }
  .m-20 { margin: var(--hg-spacing-20); }
  .mr-20 { margin-inline-end: var(--hg-spacing-20); }
  .ml-20 { margin-inline-start: var(--hg-spacing-20); }
  .mb-20 { margin-bottom: var(--hg-spacing-20); }
  .mt-20 { margin-top: var(--hg-spacing-20); }
  .p-24 { padding: var(--hg-spacing-24); }
  .pr-24 { padding-inline-end: var(--hg-spacing-24); }
  .pl-24 { padding-inline-start: var(--hg-spacing-24); }
  .pb-24 { padding-bottom: var(--hg-spacing-24); }
  .pt-24 { padding-top: var(--hg-spacing-24); }
  .m-24 { margin: var(--hg-spacing-24); }
  .mr-24 { margin-inline-end: var(--hg-spacing-24); }
  .ml-24 { margin-inline-start: var(--hg-spacing-24); }
  .mb-24 { margin-bottom: var(--hg-spacing-24); }
  .mt-24 { margin-top: var(--hg-spacing-24); }
  .p-32 { padding: var(--hg-spacing-32); }
  .pr-32 { padding-inline-end: var(--hg-spacing-32); }
  .pl-32 { padding-inline-start: var(--hg-spacing-32); }
  .pb-32 { padding-bottom: var(--hg-spacing-32); }
  .pt-32 { padding-top: var(--hg-spacing-32); }
  .m-32 { margin: var(--hg-spacing-32); }
  .mr-32 { margin-inline-end: var(--hg-spacing-32); }
  .ml-32 { margin-inline-start: var(--hg-spacing-32); }
  .mb-32 { margin-bottom: var(--hg-spacing-32); }
  .mt-32 { margin-top: var(--hg-spacing-32); }
  .p-36 { padding: var(--hg-spacing-36); }
  .pr-36 { padding-inline-end: var(--hg-spacing-36); }
  .pl-36 { padding-inline-start: var(--hg-spacing-36); }
  .pb-36 { padding-bottom: var(--hg-spacing-36); }
  .pt-36 { padding-top: var(--hg-spacing-36); }
  .m-36 { margin: var(--hg-spacing-36); }
  .mr-36 { margin-inline-end: var(--hg-spacing-36); }
  .ml-36 { margin-inline-start: var(--hg-spacing-36); }
  .mb-36 { margin-bottom: var(--hg-spacing-36); }
  .mt-36 { margin-top: var(--hg-spacing-36); }
  .p-40 { padding: var(--hg-spacing-40); }
  .pr-40 { padding-inline-end: var(--hg-spacing-40); }
  .pl-40 { padding-inline-start: var(--hg-spacing-40); }
  .pb-40 { padding-bottom: var(--hg-spacing-40); }
  .pt-40 { padding-top: var(--hg-spacing-40); }
  .m-40 { margin: var(--hg-spacing-40); }
  .mr-40 { margin-inline-end: var(--hg-spacing-40); }
  .ml-40 { margin-inline-start: var(--hg-spacing-40); }
  .mb-40 { margin-bottom: var(--hg-spacing-40); }
  .mt-40 { margin-top: var(--hg-spacing-40); }
  .p-64 { padding: var(--hg-spacing-64); }
  .pr-64 { padding-inline-end: var(--hg-spacing-64); }
  .pl-64 { padding-inline-start: var(--hg-spacing-64); }
  .pb-64 { padding-bottom: var(--hg-spacing-64); }
  .pt-64 { padding-top: var(--hg-spacing-64); }
  .m-64 { margin: var(--hg-spacing-64); }
  .mr-64 { margin-inline-end: var(--hg-spacing-64); }
  .ml-64 { margin-inline-start: var(--hg-spacing-64); }
  .mb-64 { margin-bottom: var(--hg-spacing-64); }
  .mt-64 { margin-top: var(--hg-spacing-64); }

/* Helpers de Spacing (Padding y Margin) - Desktop (md:) */
@media (min-width: 62rem) {
    .md\:p-4 { padding: var(--hg-spacing-4); }
    .md\:pr-4 { padding-inline-end: var(--hg-spacing-4); }
    .md\:pl-4 { padding-inline-start: var(--hg-spacing-4); }
    .md\:pb-4 { padding-bottom: var(--hg-spacing-4); }
    .md\:pt-4 { padding-top: var(--hg-spacing-4); }
    .md\:m-4 { margin: var(--hg-spacing-4); }
    .md\:mr-4 { margin-inline-end: var(--hg-spacing-4); }
    .md\:ml-4 { margin-inline-start: var(--hg-spacing-4); }
    .md\:mb-4 { margin-bottom: var(--hg-spacing-4); }
    .md\:mt-4 { margin-top: var(--hg-spacing-4); }
    .md\:p-8 { padding: var(--hg-spacing-8); }
    .md\:pr-8 { padding-inline-end: var(--hg-spacing-8); }
    .md\:pl-8 { padding-inline-start: var(--hg-spacing-8); }
    .md\:pb-8 { padding-bottom: var(--hg-spacing-8); }
    .md\:pt-8 { padding-top: var(--hg-spacing-8); }
    .md\:m-8 { margin: var(--hg-spacing-8); }
    .md\:mr-8 { margin-inline-end: var(--hg-spacing-8); }
    .md\:ml-8 { margin-inline-start: var(--hg-spacing-8); }
    .md\:mb-8 { margin-bottom: var(--hg-spacing-8); }
    .md\:mt-8 { margin-top: var(--hg-spacing-8); }
    .md\:p-12 { padding: var(--hg-spacing-12); }
    .md\:pr-12 { padding-inline-end: var(--hg-spacing-12); }
    .md\:pl-12 { padding-inline-start: var(--hg-spacing-12); }
    .md\:pb-12 { padding-bottom: var(--hg-spacing-12); }
    .md\:pt-12 { padding-top: var(--hg-spacing-12); }
    .md\:m-12 { margin: var(--hg-spacing-12); }
    .md\:mr-12 { margin-inline-end: var(--hg-spacing-12); }
    .md\:ml-12 { margin-inline-start: var(--hg-spacing-12); }
    .md\:mb-12 { margin-bottom: var(--hg-spacing-12); }
    .md\:mt-12 { margin-top: var(--hg-spacing-12); }
    .md\:p-16 { padding: var(--hg-spacing-16); }
    .md\:pr-16 { padding-inline-end: var(--hg-spacing-16); }
    .md\:pl-16 { padding-inline-start: var(--hg-spacing-16); }
    .md\:pb-16 { padding-bottom: var(--hg-spacing-16); }
    .md\:pt-16 { padding-top: var(--hg-spacing-16); }
    .md\:m-16 { margin: var(--hg-spacing-16); }
    .md\:mr-16 { margin-inline-end: var(--hg-spacing-16); }
    .md\:ml-16 { margin-inline-start: var(--hg-spacing-16); }
    .md\:mb-16 { margin-bottom: var(--hg-spacing-16); }
    .md\:mt-16 { margin-top: var(--hg-spacing-16); }
    .md\:p-20 { padding: var(--hg-spacing-20); }
    .md\:pr-20 { padding-inline-end: var(--hg-spacing-20); }
    .md\:pl-20 { padding-inline-start: var(--hg-spacing-20); }
    .md\:pb-20 { padding-bottom: var(--hg-spacing-20); }
    .md\:pt-20 { padding-top: var(--hg-spacing-20); }
    .md\:m-20 { margin: var(--hg-spacing-20); }
    .md\:mr-20 { margin-inline-end: var(--hg-spacing-20); }
    .md\:ml-20 { margin-inline-start: var(--hg-spacing-20); }
    .md\:mb-20 { margin-bottom: var(--hg-spacing-20); }
    .md\:mt-20 { margin-top: var(--hg-spacing-20); }
    .md\:p-24 { padding: var(--hg-spacing-24); }
    .md\:pr-24 { padding-inline-end: var(--hg-spacing-24); }
    .md\:pl-24 { padding-inline-start: var(--hg-spacing-24); }
    .md\:pb-24 { padding-bottom: var(--hg-spacing-24); }
    .md\:pt-24 { padding-top: var(--hg-spacing-24); }
    .md\:m-24 { margin: var(--hg-spacing-24); }
    .md\:mr-24 { margin-inline-end: var(--hg-spacing-24); }
    .md\:ml-24 { margin-inline-start: var(--hg-spacing-24); }
    .md\:mb-24 { margin-bottom: var(--hg-spacing-24); }
    .md\:mt-24 { margin-top: var(--hg-spacing-24); }
    .md\:p-32 { padding: var(--hg-spacing-32); }
    .md\:pr-32 { padding-inline-end: var(--hg-spacing-32); }
    .md\:pl-32 { padding-inline-start: var(--hg-spacing-32); }
    .md\:pb-32 { padding-bottom: var(--hg-spacing-32); }
    .md\:pt-32 { padding-top: var(--hg-spacing-32); }
    .md\:m-32 { margin: var(--hg-spacing-32); }
    .md\:mr-32 { margin-inline-end: var(--hg-spacing-32); }
    .md\:ml-32 { margin-inline-start: var(--hg-spacing-32); }
    .md\:mb-32 { margin-bottom: var(--hg-spacing-32); }
    .md\:mt-32 { margin-top: var(--hg-spacing-32); }
    .md\:p-36 { padding: var(--hg-spacing-36); }
    .md\:pr-36 { padding-inline-end: var(--hg-spacing-36); }
    .md\:pl-36 { padding-inline-start: var(--hg-spacing-36); }
    .md\:pb-36 { padding-bottom: var(--hg-spacing-36); }
    .md\:pt-36 { padding-top: var(--hg-spacing-36); }
    .md\:m-36 { margin: var(--hg-spacing-36); }
    .md\:mr-36 { margin-inline-end: var(--hg-spacing-36); }
    .md\:ml-36 { margin-inline-start: var(--hg-spacing-36); }
    .md\:mb-36 { margin-bottom: var(--hg-spacing-36); }
    .md\:mt-36 { margin-top: var(--hg-spacing-36); }
    .md\:p-40 { padding: var(--hg-spacing-40); }
    .md\:pr-40 { padding-inline-end: var(--hg-spacing-40); }
    .md\:pl-40 { padding-inline-start: var(--hg-spacing-40); }
    .md\:pb-40 { padding-bottom: var(--hg-spacing-40); }
    .md\:pt-40 { padding-top: var(--hg-spacing-40); }
    .md\:m-40 { margin: var(--hg-spacing-40); }
    .md\:mr-40 { margin-inline-end: var(--hg-spacing-40); }
    .md\:ml-40 { margin-inline-start: var(--hg-spacing-40); }
    .md\:mb-40 { margin-bottom: var(--hg-spacing-40); }
    .md\:mt-40 { margin-top: var(--hg-spacing-40); }
    .md\:p-64 { padding: var(--hg-spacing-64); }
    .md\:pr-64 { padding-inline-end: var(--hg-spacing-64); }
    .md\:pl-64 { padding-inline-start: var(--hg-spacing-64); }
    .md\:pb-64 { padding-bottom: var(--hg-spacing-64); }
    .md\:pt-64 { padding-top: var(--hg-spacing-64); }
    .md\:m-64 { margin: var(--hg-spacing-64); }
    .md\:mr-64 { margin-inline-end: var(--hg-spacing-64); }
    .md\:ml-64 { margin-inline-start: var(--hg-spacing-64); }
    .md\:mb-64 { margin-bottom: var(--hg-spacing-64); }
    .md\:mt-64 { margin-top: var(--hg-spacing-64); }
}

/* Tipografías - Mobile (min-width: 0rem) */
@media (min-width: 0rem) {

  .h2 {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-900);
    font-size: var(--hg-typo-font-size-18);
    line-height: var(--hg-typo-line-height-1-976);
    letter-spacing: var(--hg-typo-letter-spacing-0);
    text-transform: var(--hg-typo-text-transform-none);
  }

  .title-l-b {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-700);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-2);
    letter-spacing: var(--hg-typo-letter-spacing-0);
    text-transform: var(--hg-typo-text-transform-uppercase);
  }

  .title-s {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-400);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .suisse-1 {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-16);
    line-height: var(--hg-typo-line-height-1-5);
  }

  .suisse-2 {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-13);
    line-height: var(--hg-typo-line-height-1-1);
  }

  .suisse-body {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-10);
    line-height: var(--hg-typo-line-height-1-1);
  }

  .p-tag {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-8);
    line-height: var(--hg-typo-line-height-1);
  }

  .semantic {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-13);
    line-height: var(--hg-typo-line-height-1);
  }

  .title-l {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .title-m {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .text-m {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-5);
  }

  .text-l {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-5);
  }

}

/* Tipografías - Desktop (min-width: 62rem) */
@media (min-width: 62rem) {

  .h2 {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-900);
    font-size: var(--hg-typo-font-size-24);
    line-height: var(--hg-typo-line-height-1-2);
    letter-spacing: var(--hg-typo-letter-spacing-0);
    text-transform: var(--hg-typo-text-transform-none);
  }

  .title-l-b {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-700);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-4);
    letter-spacing: var(--hg-typo-letter-spacing-0);
    text-transform: var(--hg-typo-text-transform-uppercase);
  }

  .title-s {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-400);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .suisse-1 {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-20);
    line-height: var(--hg-typo-line-height-1-5);
  }

  .suisse-2 {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-1);
  }

  .suisse-body {
    font-family: var(--hg-typo-font-family-secondary);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-1);
  }

  .p-tag {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-8);
    line-height: var(--hg-typo-line-height-1);
  }

  .semantic {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-13);
    line-height: var(--hg-typo-line-height-1);
  }

  .title-l {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-14);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .title-m {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-4);
  }

  .text-m {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-13);
    line-height: var(--hg-typo-line-height-1-5);
  }

  .text-l {
    font-family: var(--hg-typo-font-family-primary);
    font-weight: var(--hg-typo-font-weight-100);
    font-size: var(--hg-typo-font-size-12);
    line-height: var(--hg-typo-line-height-1-5);
  }

}